<a href="https://colab.research.google.com/github/AndalahawKrysschell/CPEN-21A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [8]:
if 22>11:
 print ("22 is greater than 11")  #This is a comment

22 is greater than 11

Variable Declaration

In [40]:
#variable with single value

h=22
r=6
if h>r:
 print("h is greater than r")

else:
 print("h is greater than r")

 #variable with multiple value
 h,r= 22,6
print("the value of h is:",h)
print("the value of r is:",r)

#variable with a single value

l = m = n = "Shark"
print (l)
print(m)
print(n)

h is greater than r
the value of h is: 22
the value of r is: 6
Shark
Shark
Shark

Output Variable

In [46]:
q= "is enjoying"
print("Python programming"+" " + q)

Python programming is enjoying

Casting and Type() Function

In [25]:
k = int(6)     #integer
h = float(6)   #decimal/fractional

print(k)
print(h)

print(type(k))
print(type(h))

6
6.0
<class 'int'>
<class 'float'>

Double quote or Single quote

In [32]:
name1 = "Krysschell"
name2= 'Anne'

print(name1)
print(name2)

Krysschell
Anne

Case Sensitive

In [35]:
b = "hanna"
print(b)

hanna