<a href="https://colab.research.google.com/github/AndalahawKrysschell/CPEN-21A-PLD-1-1/blob/main/Python_List%2C_Tuples%2C_Sets%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Numbers

pi = 3.14159
varList = [1,2,'A','B', "Hello", pi]
print (varList[0])

varList.append("World")
len(varList)

varList.remove(pi)
print(varList)

1
[1, 2, 'A', 'B', 'Hello', 'World']

In [131]:
#Strings

varString = "Hello World!"
varText = 'This is a string'

In [133]:
#Lists

varList = ["abc", 123]

In [134]:
#Tuples

varTuples = ('abc', 123, "HELLO")

In [3]:
#Python Dictionaries

thisdict = {
    "name": "Krysschell",
    "age": "19",
    "birthday": "October 7, 2003"

}

print(thisdict)

{'name': 'Krysschell', 'age': '19', 'birthday': 'October 7, 2003'}

In [18]:
varList = [0,1,2,3,4]
print(varList)                                          #0            
varList = range(0,5,4)                                  #0+4=4
print([var for var in varList])                        #4+4=8

[0, 1, 2, 3, 4]
[0, 4]

In [125]:
#Arithmetic

 #Addition
a = 5 + 3
print(5 + 3)

8

In [117]:
#Arithmetic

#Subtraction
a = 5 - 3
print(5 - 3)

2

In [118]:
#Arithmetic

#Multiplication
a = 5 * 3
print(5 * 3)

15

In [119]:
#Arithmetic

#Exponent
a = 5 ** 3
print(5 ** 3)

125

In [121]:
#Arithmetic

#Division
a = 5 / 3
print(5 / 3)

a = 5 % 3
print(5 % 3)

a = 5 // 3
print(5 // 3)

1.6666666666666667
2
1

In [122]:
#Arithmetic

#Increment/Decrement
a = 5
a += 1
print(a)

6

In [123]:
#Arithmetic

#Decrement
a = 5
a -= 1
print(a)

4

In [124]:
#Arithmetic

#String Concatenation
a = "Hello" + "World!"
print("Hello" " " + "World!")

Hello World!

In [126]:
#Arithmetic

#Complex Expression
a = 3 + 5 -6 * 2 / 4
print(a)

5.0

In [129]:
#Conditional Statements

#Boolean Conditions

x = True

if x: 
  print("var x is true")

else:
  print("var x is false")

var x is true

In [128]:
#Conditional Statements

#String Conditions

x = "Hello World!"

if x == 'Hello World!':
  print("var x is Hello World!")

else:
  print("var x is not Hello World!")

var x is Hello World!

In [127]:
#Conditional Statements

#Numerical Conditions

x = 10

if x == '10':
  print("var x is a string")

elif x == 10:
  print("var x is an integer")

else:
   print("var x is none of the above")

var x is an integer

In [44]:
#Loops

#For Loops

for var in range(0,5,2):
  print(var)

0
2
4

In [47]:
#Loops

#While Loops

var = 0 
while var < 5:
  print(var)
  var += 2

0
2
4

In [116]:
#Loops

#Nested Loops


x = 0
while x < 5:
   for y in range (0, x):
      print(y, end='')

   x += 1
   print()

0
01
012
0123

In [74]:
#Functions

def remainder(n, m):
  while True:
    if n - m < 0:
     return n

    else:
      n = n - m

remainder(10,4)

2

In [88]:
#Lists

pi = 3.14159

varList = [1, 2, 'A', 'B', 'Hello!', pi]

print (varList[0])

print(varList[4])

varList.append('World!') 
print (varList[6])

len(varList)

print(varList[5])

varList.remove(pi) 
print(varList[5])

1
Hello!
World!
3.14159
World!

In [95]:
#Dictionaries

var = "Hello World!" 
varDict = {'first': 123, 2: 'abc', 
           '3' :  var, 4 : ['lista', 'listb']}
print(varDict['first'])

print(varDict[2])

print(varDict['3'])

print(varDict[4])

print(varDict[4][1])

len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

In [115]:
#List Generators and Comprehension

def gen_num_up_to(n):
  num = 0
  while num < n:
        yield num
        num += 1

In [101]:
#List Generators and Comprehension

gen_num_up_to(5)

In [103]:
#List Generators and Comprehension

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [104]:
#List Generators and Comprehension
def gen_num_up_to(n):
  num = 0
  while num < n:
        yield num
        num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 2, 4]

In [105]:
#List Generators and Comprehension

varList = range(0,5,2)
print([var for var in varList])

[0, 2, 4]

In [106]:
#Slicing

varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [108]:
#Slicing

print(varList[5:])

[6, 7, 8, 9, 10]

In [109]:
#Slicing

print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [110]:
#Slicing

print(varList[-2:])

[9, 10]

In [111]:
#Slicing

print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [112]:
#Slicing

print(varList[2:8:2])

[3, 5, 7]